In [ ]:
question 1:

In [13]:
# Get user age
age = int(input("Enter your age: "))

if age >= 18:
    print("You are eligible for a loan.")
else:
   
    credit_score = int(input("Enter your credit score: "))
    if credit_score >= 650:
        print("You are eligible for a loan.")
    else:
        
        annual_income = int(input("Enter your annual income: "))
        if annual_income >= 30000 and credit_score >= 700:
            print("You are eligible for 25,000 Dollars.")
        else:
            print("You are not eligible.")

Enter your age:  19

You are eligible for a loan.

In [ ]:
question 2:

In [19]:
age = int(input("Enter your age: "))

if age < 18:
    print("You are underage, and don't ask for experience.")
else:
    experience = int(input("Enter your years of experience: "))
    
    if experience >= 10:
        print("You have a lot of experience.")
    elif 5 <= experience <= 9:
        print("You have moderate experience.")
    elif 2 <= experience <= 4:
        print("You are relatively new.")
    else:  
        print("You are just starting out.")

Enter your age:  4

You are underage, and don't ask for experience.

In [ ]:
question 3:

In [ ]:
question 4:

In [20]:
email = input("Enter your email address: ")

if "@" in email and "." in email:
    print("Email format is valid.")
else:
    print("Invalid email format.")

Enter your email address:  xyz@gmail.com

Email format is valid.

In [ ]:
question 5:

In [21]:
x = (11, 22.333, 'apple', [1, 2, 3], ('a', 'b'))
data_types = []

for element in x:
    data_types.append(type(element).__name__)

print("Data types of tuple elements:", data_types)

Data types of tuple elements: ['int', 'float', 'str', 'list', 'tuple']

In [ ]:
question 6:

In [ ]:
active_users = [("alice", "admin"), ("bob", "user"), ("charlie", "moderator")]
username = input("Enter the username: ")

for user in active_users:
    if user[0] == username:
        print(f"The username '{username}' exists in the list.")
        
        if user is ("alice", "admin"):
            print(f"The user '{username}' is the admin.")
        else:
            print(f"The user '{username}' is not the admin.")
        break
else:
    print(f"The username '{username}' does not exist in the list.")

In [ ]:
question 7:

In [ ]:
person1 = ['John', 'Mary', 'Springfield', '12345']
person2 = ['John', 'Mary', 'Springfield', '12345']
person3 = ['John', 'Mary', 'Springfield', '67890']

if person1 == person2:
    print("person1 and person2 are Siblings.")
else:
    print("person1 and person2 have no relation.")

if person1[:3] == person3[:3] and person1[3] != person3[3]:
    print("person1 and person3 are Cousins.")
else:
    print("person1 and person3 have no relation.")

In [ ]:
question 8:

In [ ]:

title = input("Enter the book's title: ")
author = input("Enter the author's name: ")
year = int(input("Enter the year of publication: "))
price = float(input("Enter the price of the book: "))

book_details = (title, author, year, price)

print("\nStored Book Information:")
print(f"Title: {book_details[0]}")
print(f"Author: {book_details[1]}")
print(f"Year of Publication: {book_details[2]}")
print(f"Price: {book_details[3]}")

In [ ]:
question 9:

In [ ]:
offered_subjects = ["Math", "Science", "History", "English", "Computer Science"]

chosen_subject = input("Enter the subject you want to check: ")

if chosen_subject in offered_subjects:
    print("Subject is available.")
else:
    print("Subject is not available.")

In [ ]:
question 10:

In [ ]:
numbers_tuple = (1, 2, 3, 4, 2, 5, 6, 2, 7, 8)
m1 = int(input("Enter a number to find its first occurrence index: "))

if num1 in numbers_tuple:
    print(f"First occurrence of {num1}: index {numbers_tuple.index(num1)}")
else:
    print(f"{num1} is not in the tuple.")

num2 = int(input("Enter another number to count its occurrences: "))
print(f"{num2} appears {numbers_tuple.count(num2)} times.")