In [ ]:
1.what is the length of the salaries list.

In [1]:
salaries=['20k','40k','50k','60k','35k','89k','40k']
len(salaries)

7

In [ ]:
2. Retrieve the third salary in the list by using index.

In [2]:
salaries=['20k','40k','50k','60k','35k','89k','40k']
salaries[3]

'60k'

In [ ]:
3.Extract the last salary from the list by using a negative index.

In [3]:
salaries=['20k','40k','50k','60k','35k','89k','40k']
salaries[:-1]

['20k', '40k', '50k', '60k', '35k', '89k']

In [ ]:
4. Slice the salaries list to get only the middle three salaries.

In [4]:
salaries=['20k','40k','50k','60k','35k','89k','40k']
salaries[2:5]

['50k', '60k', '35k']

In [ ]:
5.Add a new salary to the list, ‘100k’ by using append() method.

In [5]:
salaries=['20k','40k','50k','60k','35k','89k','40k']
salaries.append('100k')
salaries

['20k', '40k', '50k', '60k', '35k', '89k', '40k', '100k']

In [ ]:
5. Add a new salary to the list, ‘120k’ without method.

In [6]:
salaries=['20k','40k','50k','60k','35k','89k','40k']
salaries=salaries+['120k']
salaries

['20k', '40k', '50k', '60k', '35k', '89k', '40k', '120k']

In [ ]:
6. Replace the third salary in the list with '55k' and print the updated list.

In [7]:
salaries = ['20k', '40k', '50k', '60k', '35k', '89k', '40k']
salaries[2]='55k'
salaries

['20k', '40k', '55k', '60k', '35k', '89k', '40k']

In [ ]:
7. Count how many times '40k' appears in the list.

In [8]:
salaries = ['20k', '40k', '50k', '60k', '35k', '89k', '40k']
salaries.count('40k')

2

In [ ]:
8. Insert a new salary at the second position.

In [9]:
salaries = ['20k', '40k', '50k', '60k', '35k', '89k', '40k']
salaries.insert(1,'100')
salaries

['20k', '100', '40k', '50k', '60k', '35k', '89k', '40k']

In [ ]:
9. Reverse the order of the salaries list with method.

In [10]:
salaries = ['20k', '40k', '50k', '60k', '35k', '89k', '40k']
salaries.reverse()
salaries

['40k', '89k', '35k', '60k', '50k', '40k', '20k']

In [ ]:
10. Reverse the order of the salaries list without method

In [11]:
salaries = ['20k', '40k', '50k', '60k', '35k', '89k', '40k']
salaries=salaries[::-1]
salaries

['40k', '89k', '35k', '60k', '50k', '40k', '20k']